# Extracting data from pdf files with Tabula-py

Have you ever worked on a project where most of the data you need sits in a pdf file(s)? If you haven't, good for you! I've been in that situation a number of times and it's just annoying and time consuming to deal with especially if your only option is to manually copy and paste into an excel sheet.

This notebook is a starter guide on how you can extract data from tables in pdf format using [Tabula-py](https://pypi.org/project/tabula-py/). It shows how you can extract data from a table on a single page in a pdf and clean the data up afterwards.

I'll be using the pdf 'Ghana_Health_Sector_2017.pdf' which I downloaded from the [Ghana Health Service website](http://ghanahealthservice.org/downloads/FACTS+FIGURES_2017.pdf). It contains facts and figures of the health sector in Ghana as at 2017. This file a good example to demonstrate data extraction as it contains multiple tables in different formats spanning across multiple pages which you can try your hands on after going through this notebook.

Until data publishers spare us the headache of publishing in pdf formats, tools like [Tabula-py](https://pypi.org/project/tabula-py/) will still be relevant.

## 1. Software Installation
Installing Tabula-py is as simple as running ``pip install tabula-py`` in your terminal.
But before that, you need to have the follwoing running:

    Java (confirmed working with Java 7 & 8)
    pandas
    urllib3
    distro

You might as well create (highly recommended) a virtual environment for working on tabula-py projects and have all your installations in one place without tempering with system wide dependencies. 

Need help creating a virtual environment for your project? Check out the [Conda Cheat Sheet](https://docs.conda.io/projects/conda/en/4.6.0/_downloads/52a95608c49671267e40c689e0bc00ca/conda-cheatsheet.pdf)

In [1]:
#importing the tabula module for use in the notebook

import tabula

## 2. Data Extraction

In [2]:
# reading-in pdf into a variable and specifying page to extract table from

popn_dist_district_brong_ahafo = tabula.read_pdf("./Ghana_Health_Sector_2017.pdf", pages='10')

In [3]:
# showing the first ten rows of the extracted table

popn_dist_district_brong_ahafo.head(10)

   No.       District  District.1         Target Target Population
0  NaN            NaN  Projection  Population <1    for WIFA (24%)
1  NaN            NaN         NaN       year and               NaN
2  NaN            NaN         NaN       Expected               NaN
3  NaN            NaN         NaN    Pregnancies               NaN
4  NaN            NaN         NaN           (4%)               NaN
5  NaN            NaN         NaN            NaN               NaN
6  NaN            NaN         NaN            NaN               NaN
7  NaN  All Districts   2,732,485        109,299           655,797
8  1.0  Asunafo South     112,259          4,490            26,942
9  2.0  Asunafo North     147,794          5,912            35,470

## 3. Data Cleaning

In [4]:
# Deleting the column "No." as it is of no use 

popn_dist_district_brong_ahafo.drop(popn_dist_district_brong_ahafo.columns[0], axis=1, inplace=True)

In [5]:
# The first seven rows of the data do not contain any values of importance hence their deletion

popn_dist_district_brong_ahafo.drop(popn_dist_district_brong_ahafo.index[0:7], inplace=True)

In [6]:
# Displaying table to ensure it's properly cleaned out

popn_dist_district_brong_ahafo

                     District District.1   Target Target Population
7               All Districts  2,732,485  109,299           655,797
8               Asunafo South    112,259    4,490            26,942
9               Asunafo North    147,794    5,912            35,470
10              Asutifi North     63,031    2,521            15,127
11           Dormaa Municipal    134,151    5,366            32,196
12  Dormaa  Central Municipal     60,242    2,410            14,458
13        Tano South District     93,093    3,724            22,342
14        Tano North District     95,830    3,833            22,999
15          Sunyani Municipal    145,110    5,804            34,826
16      Sunyani West District    101,307    4,052            24,314
17          Berekum Municipal    153,331    6,133            36,799
18       Jaman South District    109,527    4,381            26,287
19       Jaman North District     98,560    3,942            23,654
20              Tain District    104,037    4,161            24,969
21           Wenchi Municipal    106,779    4,271            25,627
22         Techiman Municipal    175,210    7,008            42,050
23    Nkoranza South District    109,517    4,381            26,284
24    Nkoranza North District     79,407    3,176            19,058
25   Atebubu Amantin District    125,940    5,038            30,226
26         Sene West District     68,456    2,738            16,429
27               Pru District    153,328    6,133            36,799
28    Kintampo South District     95,832    3,833            23,000
29    Kintampo North District    112,260    4,490            26,942
30       Dormaa West District     57,503    2,300            13,801
31     Asutifi South District     62,974    2,519            15,114
32    Techiman North District     71,183    2,847            17,084
33             Banda District     24,643      986             5,914
34         Sene East District     71,179    2,847            17,083

In [7]:
# As we have dropped a number of rows, we need to set a new index column and get rid of the current

popn_dist_district_brong_ahafo.reset_index(drop=True, inplace=True)

In [8]:
# In extracting our table, the headings were messed up so we cross check from the pdf and rename accordingly

popn_dist_district_brong_ahafo.rename(columns={'District.1': 'District Projection', 'Target': 'Target Population', 'Target Population': 'Target Population for WIFA'}, inplace=True)

## 4. Cleaned data

In [9]:
# Cleaned data ready for analysis and visualization!

popn_dist_district_brong_ahafo

,District,District Projection,Target Population,Target Population for WIFA
0,All Districts,"2,732,485","109,299","655,797"
1,Asunafo South,"112,259","4,490","26,942"
2,Asunafo North,"147,794","5,912","35,470"
3,Asutifi North,"63,031","2,521","15,127"
4,Dormaa Municipal,"134,151","5,366","32,196"
5,Dormaa Central Municipal,"60,242","2,410","14,458"
6,Tano South District,"93,093","3,724","22,342"
7,Tano North District,"95,830","3,833","22,999"
8,Sunyani Municipal,"145,110","5,804","34,826"
9,Sunyani West District,"101,307","4,052","24,314"
10,Berekum Municipal,"153,331","6,133","36,799"
11,Jaman South District,"109,527","4,381","26,287"
12,Jaman North District,"98,560","3,942","23,654"
13,Tain District,"104,037","4,161","24,969"
14,Wenchi Municipal,"106,779","4,271","25,627"
15,Techiman Municipal,"175,210","7,008","42,050"
16,Nkoranza South District,"109,517","4,381","26,284"
17,Nkoranza North District,"79,407","3,176","19,058"
18,Atebubu Amantin District,"125,940","5,038","30,226"
19,Sene West District,"68,456","2,738","16,429"
20,Pru District,"153,328","6,133","36,799"
21,Kintampo South District,"95,832","3,833","23,000"
22,Kintampo North District,"112,260","4,490","26,942"
23,Dormaa West District,"57,503","2,300","13,801"
24,Asutifi South District,"62,974","2,519","15,114"
25,Techiman North District,"71,183","2,847","17,084"
26,Banda District,"24,643",986,"5,914"
27,Sene East District,"71,179","2,847","17,083"

## 5. Saving output to a csv file

In [11]:
# converting dataframe to csv

popn_dist_district_brong_ahafo.to_csv('popn_dist_district_brong_ahafo.csv')